# Exercise *01*: Subquery

## Create a connection to the database using the library *sqlite3*:

In [1]:
import sqlite3

from sqlite3 import Connection

In [2]:
db_path: str = "../../data/checking_logs.sqlite"

In [3]:
conn: Connection = sqlite3.connect(db_path)

## Get the schema of the table *checker*:

In [4]:
import pandas as pd

from pandas import DataFrame

In [5]:
sql_query: str = "PRAGMA table_info(checker);"

In [6]:
schema: DataFrame = pd.io.sql.read_sql(
    sql_query,
    conn
)

In [7]:
# schema

## Get only the first *10* rows of the table *checker* to check what the table looks like:

In [8]:
sql_query: str = """
                 SELECT
                     *
                 FROM
                     checker
                 LIMIT
                     10;
                 """

In [9]:
rows: DataFrame = pd.io.sql.read_sql(
    sql_query,
    conn
)

In [10]:
# rows

## Count how many rows satisfy the following conditions using only one query with any number of subqueries:

* Count the rows from the *pageviews* table but only with users from the *checker* table with:
  * `status = ’ready’`, we do not want to analyze the logs that are in status checking:
  * `numTrials = 1`, we want to analyze only the first commits, because only they can tell us when a student started working on a lab:
  * labnames should be from the list: `’laba04’, ’laba04s’, ’laba05’, ’laba06’, ’laba06s’, ’project1’`. Only they were active during the experiment.
* Store in the dataframe *checkers* with the column `cnt`:

In [11]:
sql_subquery: str = """
                    SELECT
                        checker.uid AS uid
                    FROM
                        checker
                    WHERE
                        status = 'ready'
                        AND numTrials = 1
                        AND labname IN ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1')
                    """

In [12]:
sql_query: str = f"""
                  SELECT
                      COUNT(*) AS cnt
                  FROM
                      pageviews
                  WHERE
                      pageviews.uid IN ({sql_subquery});
                  """

In [13]:
checkers: DataFrame = pd.io.sql.read_sql(
    sql_query,
    conn
)

In [14]:
# checkers

## Close the connection:

In [15]:
conn.close()